@import "src/scss/variables";

#horizontal-nav-wrapper {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  height: $horizontal-menu-height;
  background: $secondary-bg-color;

  #main-logo .text-logo {
      line-height: $horizontal-menu-height;
      margin: 0 20px;
      max-width: 200px;
  }

  #top-menu{
    //position: fixed;
    //left: 320px;
    //width: 720px;
  }

  #far-items {
    max-width: 720px;
    margin-right: 24px;
    box-sizing: border-box;
    height: $horizontal-menu-height;
    position: fixed;
    top: 0;
    right: 0;

    .ms-Persona {
      .ms-Persona-coin {
        border: 2px solid #b2b3bc;
        padding: 2px;
        border-radius: 50%;
      }

      .ms-Persona-primaryText .ms-TooltipHost {

      }
    }
  }
}
