video {
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.video-tumbs {
  position: fixed;
  width: 200px;
  top: 80px;
  left: 16px;

  video {
    background-size: cover;
    background-color: rgba(144, 238, 144, 0.31);
    background-position: center;
    transform: rotateY(180deg);
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #d3d3d36e;
  }

  .video-tumb-name {
    position: relative;
    left: 12px;
    bottom: 28px;
    //color: #dfaf5d;
    color: steelblue;
    mix-blend-mode: difference;
    font-weight: bold;
  }
}

@media screen and  (max-width: 1000px){
  .video-tumbs {
    width: 120px;

    video {
      width: 112px;
    }
  }
}


.active-video-container {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 44px);

  .active-video {
    height: calc(100vh - 46px);
    /* border: 1px dashed steelblue; */
    width: 100vw;
    background: black;
    object-fit: cover;
  }
}

.call-action-panel {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 12px;
  opacity: .2;
  transition: .2s;

  &:hover {
    opacity: 1;
  }

  .call-actions {
    width: 315px;
    margin: 0 auto;
    user-select: none;
    & i {
      user-select: none;
    }
  }
}

.chat-wrapper {
  .chat-input-wrapper {
    position: absolute;
    bottom: 12px;
    min-width: 290px;
  }
}
