$horizontal-menu-height: 44px;
$vertical-menu-width: 250px;

/* Colors */
$primary-text-color: #f5f5f5;
$secondary-text-color: #565c6c;
$secondary-subheader-color: #848AA0;

$primary-color: #0078d4;
$gray10: #faf9f8;
$gray20: #f3f2f1;
$gray30: #edebe9;
$gray40: #e1dfdd;
$gray50: #d2d0ce;
$gray60: #c8c6c4;
$gray70: #bebbb8;
$gray80: #b3b0ad;
$gray90: #a19f9d;
$gray100: #979593;
$light-gray-background: #e8e3e3;

$error-color: #e0353a;

$primary-bg-color: #abd1c6;
$hover-primary-bg-color: #92b1a6;
$secondary-bg-color: #004643;
$primary-content-bg-color: #2f374a;

$input-bg-color: #3b4354;
$input-border-color: #62656f;

$primary-btn-color: #8eb580;
$primary-btn-color-hover: #86b866;
$primary-btn-color-disabled: #9eb199;

$success-color: #94bd3b;
$secondary-color: #3c4660;


$primary-input-color: #e3e0e2;
$secondary-input-color: #9597a1;
$input-bg-color: #20283b;

$tag-color: #8798E7;
$bright-tag-color: #5856d7;
$external-color: #5f6572;

